body {
  background-color: #d4eaec;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  gap: 2.5rem;
  max-width: 1200px;
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  border-radius: 2.5rem;
  border: 2px solid black;
  width: 600px;
  flex-shrink: 0;
  backdrop-filter: blur(15px);
  background-color: #ffffff80;
}

.grid.reverse {
  direction: rtl;
}

.grid .grid-item {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  flex-grow: 0;
}

.grid .grid-item.selected {
  background-color: #b2e2f8;
}

.grid .grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.palettes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.palettes img {
  width: 125px;
  aspect-ratio: 1 / 1;
}
